.root {
    -fx-background-color: #e1dd72;
}

.text-field{
    -fx-background-color: #a8c66c;
    -fx-background-radius: 10;
    -fx-padding: 8px 0px 8px 8px;
}
.button{
    -fx-background-color: #a8c66c;
    -fx-padding: 8;
    -fx-background-radius: 10;
}

.button:disabled{
    -fx-background-color: #b3cd7e ;
}

.button:hover{
    -fx-padding: 9;
}