.table-view{
    -fx-background-color: #a8c66c;
    -fx-background-radius: 10;
    -fx-table-cell-border-color: #91AB5E;
}

.table-view .column-header-background{
    -fx-background-color: #a8c66c;
    -fx-text-fill: #8198C7;
    -fx-font-size: 14;
    -fx-font-weight: Bold;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}


.table-row-cell:selected {
    -fx-background-color: #91AB5E;
    -fx-text-fill: #8198C7;
    -fx-background-insets: 0;
}
.table-row-cell:empty{
    -fx-background-color: #e1dd72;/*Might wanna change */
}

.table-row-cell{
    -fx-background-color: #91AB5E, #91AB5E;

}

.table-row-cell:hover{
    -fx-background-color: #e1dd72;
}