.tab-pane:selected .tab {
    -fx-background-color: white;
}
.tab-pane .tab:selected
{
    -fx-background-color: #91AB5E;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab{
    -fx-background-color: #a8c66c;
    -fx-padding: 7;
    -fx-background-radius: 8;
    -fx-border-width:5px;
    -fx-alignment: center;
}

.tab-pane .tab-header-area{
    -fx-background-size: 100px;
    -fx-padding: 5;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #a8c66c ;
    -fx-background-radius: 10;
    -fx-opacity: 100;
}